#####################################################################
#  Bed Mesh Definition
#####################################################################
[bed_mesh]
##  Start end end point of mesh 
mesh_min: 30,30
mesh_max: 290,290
speed: 500
##   The height (in mm) that the head should be commanded to move to
##   just prior to starting a probe operation. The default is 5.
#horizontal_move_z: 7.5 ; MagProbe Klicky
horizontal_move_z: 2 # 4 ; Vinda or Omron
probe_count: 7,7
##   The interpolation algorithm to use. May be either "lagrange"
##   or "bicubic". This option will not affect 3x3 grids, which
##   are forced to use lagrange sampling.  Default is lagrange.
algorithm: bicubic
##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
#relative_reference_index: 40
##   The gcode z position in which to start phasing out z-adjustment
##   when fade is enabled.  Default is 1.0.
move_check_distance: 3
##   The amount of Z difference (in mm) along a move that will
##   trigger a split. Default is .025.
split_delta_z: 0.025
##   A comma separated pair of integers (X,Y) defining the number of
##   points per segment to interpolate in the mesh along each axis. A
##   "segment" can be defined as the space between each probed
##   point. The user may enter a single value which will be applied
##   to both axes.  Default is 2,2.
mesh_pps: 6,6 # 2,2
##   When using the bicubic algorithm the tension parameter above
##   may be applied to change the amount of slope interpolated.
##   Larger numbers will increase the amount of slope, which
##   results in more curvature in the mesh. Default is .2.
bicubic_tension: 0.5
##   Default Value: 0.2
##   If the algorithm option is set to bicubic it is possible to specify the tension 
##   value. The higher the tension the more slope is interpolated. Be careful when 
##   adjusting this, as higher values also create more overshoot, which will result 
##   in interpolated values higher or lower than your probed points. 
fade_start: 1
##   Default Value: 1
##   The Z height in which to start phasing out adjustment. It is a good idea 
##   to get a few layers down before starting the fade process.
fade_end: 10
##   Default Value: 0
##   The Z height in which fade should complete. If this value is lower than 
##   fade_start then fade is disabled. This value may be adjusted depending on 
##   how warped the print surface is. A significantly warped surface should fade 
##   out over a longer distance. A near flat surface may be able to reduce this 
##   value to phase out more quickly. 10mm is a sane value to begin with if using 
##   the default value of 1 for fade_start.
##fade_target: 0
##   Default Value: The average Z value of the mesh
##   The fade_target can be thought of as an additional Z offset applied to the 
##   entire bed after fade completes. Generally speaking we would like this value 
##   to be 0, however there are circumstances where it should not be. For example, 
##   lets assume your homing position on the bed is an outlier, its .2 mm lower 
##   than the average probed height of the bed. If the fade_target is 0, fade will 
##   shrink the print by an average of .2 mm across the bed. By setting the 
##   fade_target to .2, the homed area will expand by .2 mm, however, the rest of 
##   the bed will be accurately sized. Generally its a good idea to leave fade_target 
##   out of the configuration so the average height of the mesh is used, however it 
##   may be desirable to manually adjust the fade target if one wants to print on a 
##   specific portion of the bed.


#####################################################################
#  Macros
#####################################################################
#
# Warning: If you use the flexplate names insight your stored mesh's than:
#  - insure that it does not contain spaces
#  - insure that it does not contain special charakters
#  - insure that it does not contain german "umlaut" (äöü and ß)
#
# All macros are writen in the way that they will work without a [save_variables]
# block and also without the flexplate.cfg
#
#####################################################################
